<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .constant-width-to-height-ratio {
      background: #333;
      width: 50%;
      /* resize: both;
      overflow: auto; */
    }

    .constant-width-to-height-ratio::before {
      content: '';
      display: block;
      padding-top: 100%;
      /* 保证了高度和宽度相等，所以永远保持正方形 */
      float: left;
    }

    .constant-width-to-height-ratio::after {
      content: '';
      display: block;
      clear: both;
    }
  </style>
</head>

<body>
  <div class="constant-width-to-height-ratio"></div>
</body>

</html>